.edit-wrapper-top{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
} 

.collapse-button{
    position: relative;
    display: flex;
    left: 80px;
    padding: 10px;
    background-color: white;
    border: none;
}

.icon{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-text{
    margin:auto;
    position: relative;
    text-align: center;
    padding-left: 15px;
    margin-right: 5px;
    color: #707070;
}




.text-input-wrapper{
    display: flex;
    align-content: flex-end;
    margin-bottom:5px;
}

.edit-wrapper .text-input {
    position: relative;
    margin-left: 10px;
    font-size: 14px;
    margin-top:auto;
    margin-bottom: auto;

    align-self: flex-end;
}


.contact-name{
    font-weight: bold;
    font-size: 18px;
}

.contact-position{
    font-size: 14px;
}

.edit-container{
    padding-left: 6%;
    padding-right: 5%;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: 180px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "fields contacts "    
        ". contacts "
        "notes notes";    
}

.edit-wrapper{
    grid-area: fields;
}

.edit-contacts{
    grid-area: contacts;
}

.edit-notes{
    grid-area: notes;
}