.edit-contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-right: -5%; */
}

.contact-wrapper{
    flex-grow: 1;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

.edit-contacts .text-input-wrapper .text-input {
    margin-bottom: 10px;
}

.contact-email-wrapper .text-input,
.contact-phone-wrapper .text-input  {
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
}

.edit-contacts .icon {
    position: relative;
    align-self: flex-start;
    padding-top: 8px;
}

.edit-flexbox{
    display: flex;
    flex-direction: column;
}

.contact-email-wrapper,
.contact-phone-wrapper {
    display: flex;
}

.contact-email-wrapper .edit-flexbox,
.contact-phone-wrapper .edit-flexbox{
    padding-top: 10px;
}

.add-new-contact {
    flex-grow: 1;
    background-color: white;
    border: none;
    padding: 20px;
}

.remove-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0px 6px ;
    float: right;
    position: relative;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 30px auto 40px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
        "name name delButton"
        "position position delButton"
        "phoneIcon phone phone"
        ".          phone phone"
        "emailIcon email email"
        ".          email email"
        ;
    align-items: center;
}

.remove-button{grid-area: delButton;}
.contact-name{grid-area: name}
.contact-position{grid-area: position;}
.contact-phone-wrapper{grid-area: phone;}
.contact-email-wrapper{grid-area: email;}
.icon.phone{grid-area: phoneIcon;}
.icon.email{grid-area: emailIcon;}

.icon{
    padding: 0px;
}